.plex-requests__header-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: $solid-white;
  background-color: $solid-black;
};

.plex-requests__header-img {
  height: 36px;
  width: auto;
  margin: 25px 0;
};

.plex-requests__header-left {
  width: 90%;
  display: flex;
  margin: 0 auto;

  @media (min-width: $breakpoint) {
    width: 90%;
  }
};

.plex-requests__header-item {
  padding: 0 5px;
}
