.plex-requests__media-list {
  list-style-type: none;
  margin-bottom: 15px;
}

.media-list__section-header {
  color: $plex-orange;
  font-style: italic;
}

.media-list__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  color: $solid-white;
  text-align: center;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.media-list__media-name {
  margin: 0;
  @media (min-width: $breakpoint) {
    margin: 20px 0;
  }
}
.media-list__media-date {
  margin: 0;
  @media (min-width: $breakpoint) {
    margin: 20px 0;
  }
}

.media-list__poster {
  margin-right: 25px;
  height: 450px;
  width: auto;

  @media (min-width: $breakpoint) {
    height: auto;
  }
}

.media-list__description {
  color: $light-grey;
  font-style: italic;
  font-weight: 100;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.media-list__button {
  border: 1px solid $plex-orange;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: $plex-orange;
  margin-right: 5px;

  &:hover {
    color: $solid-white;
    background-color: $plex-orange;
  }
}

.media-list__button-wrap {
  text-align: right;
}
