.ReactModal__Overlay {
    opacity: 0;
    color: $solid-grey;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 1020px;
  margin: 0 auto;
}
