.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.ReactModal__Overlay {
    opacity: 0;
    color: $light-grey;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 1020px;
  margin: 0 auto;
  background-color: $dark-grey;
}
