.plex-requests__movie-list {
  list-style-type: none;
  marging-bottom: 15px;
}

.movie-list__title {
  display: flex;
  justify-content: space-between;
}

.movie-list__button {

}

.movie-list__button-wrap {
  text-align: right;
}
