.search-page__wrapper {
  width: 90%;
  margin: 80px auto;

  @media (min-width: $breakpoint) {
    width: 60%;
  }
}

.search-page__section-header {
  color: $plex-orange;
  font-size: 50px;
  margin: -0.33em 0;
}

.search-page__sub-header {
  color: $solid-white;
  font-weight: lighter;
}

.search-page__text-input {
  border: 1px solid #cacccd;
  height: 50px;
  width: 100%;
  padding: $size-s;
  font-size: $size-med-plus;
  font-weight: 300;

  @media (min-width: $breakpoint) {
    width: 90%;
  }
}

.search-page__button {
  border: 1px solid $plex-orange;
  border-radius: 5px;
  padding: 10px;
  color: $plex-orange;
  background-color: transparent;
  font-size: $size-med-plus;
  font-weight: 300;
  display: none;

  &:hover {
    color: $solid-white;
    background-color: $plex-orange;
  }
  @media (min-width: $breakpoint) {
    display: flex;
  }
}

.search-page__form-wrapper {
  display: flex;
}
