.season-list__section-header {
  color: $plex-orange;
  margin: 10px 0;
  font-size: 40px;
}

.season-list__section-subheader {
  margin: 0 0 30px 12px;
  font-style: italic;
  font-size: 20px;
}

.plex-requests__seasons-list {
  list-style-type: none;
  margin: 0 20px 0 19px;
}

.plex-requests__season-headlines {
  text-align: center;

  @media (min-width: $breakpoint) {
    text-align: left;
  }
}

.plex-requests__season-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid darken($dark-grey, 10);
  padding: $size-s;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: darken($dark-grey, 10);
  }
  @media (min-width: $breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $size-med;
  }
}

.plex-requests__season-request-button {
  border: 1px solid $plex-orange;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: $plex-orange;
  margin: 10px 0 0;

  @media (min-width: $breakpoint) {
    margin-top: 0;
  }
}

.plex-requests__season-request-button:hover {
  color: $solid-white;
  background-color: $plex-orange;
}
