.season-list__section-header {
  color: $plex-orange;
}

.plex-requests__season-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plex-requests__seasons-list {
  list-style-type: none;
  margin: 0 20px 0 19px;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 1020px;
  margin: 0 auto;
}
