.plex-requests__series-list {
  list-style-type: none;
  margin-bottom: 15px;
}

.series-list__section-header {
  color: $plex-orange;
  font-style: italic;
}

.series-list__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  color: $solid-white;
  text-align: center;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.series-list__series-name {
  margin: 0;
  @media (min-width: $breakpoint) {
    margin: 20px 0;
  }
}
.series-list__series-date {
  margin: 0;
  @media (min-width: $breakpoint) {
    margin: 20px 0;
  }
}

.series-list__poster {
  margin-right: 25px;
  height: 450px;
  width: auto;

  @media (min-width: $breakpoint) {
    height: auto;
  }
}

.series-list__description {
  color: $light-grey;
  font-style: italic;
  font-weight: 100;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.series-list__button {
  border: 1px solid $plex-orange;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: $plex-orange;
  margin-right: 5px;
}

.series-list__button:hover {
  color: $solid-white;
  background-color: $plex-orange;
}

.series-list__button-wrap {
  text-align: right;
}

.series-list__expand-button {
  color: $solid-white;
  background-color: $plex-orange;
  border: 1px solid $plex-orange;
  border-radius: 5px;
  padding: 10px 20px;
}

.series-list__expand-button:hover {
  background-color: transparent;
  color: $plex-orange;
}
